.linha-luz {
    height: 5px; /* Altura da linha de luz */
    background: linear-gradient(90deg, rgb(190, 0, 175), rgb(255, 255, 255), rgb(112, 60, 196), rgb(9, 175, 153), rgb(12, 125, 160), rgb(163, 0, 163));
    background-size: 300%; /* Para permitir que a animação funcione */
    animation: mudarCor 15s linear infinite; /* 15s para cada cor mudar a cada 3s */
}
