.linha-luz {
    height: 5px; /* Altura da linha de luz */
    background: linear-gradient(90deg, rgb(190, 0, 175), rgb(255, 255, 255), rgb(112, 60, 196), rgb(9, 175, 153), rgb(12, 125, 160), rgb(163, 0, 163));
    background-size: 300%; /* Para permitir que a animação funcione */
    animation: mudarCor 15s linear infinite; /* 15s para cada cor mudar a cada 3s */
}
.botao-comprar {
    display: inline-block;
    text-decoration: none;
    background-color: #B11269;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1rem;
    text-align: center;
    transition: background-color 0.3s ease;
}
.botao-comprar:hover {
    background-color: #920c58;
}
